@font-face {
    font-family: 'orkneyregular';
    src: url('orkney-regular-webfont.eot');
    src: url('orkney-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('orkney-regular-webfont.woff2') format('woff2'),
         url('orkney-regular-webfont.woff') format('woff'),
         url('orkney-regular-webfont.ttf') format('truetype'),
         url('orkney-regular-webfont.svg#orkneyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 2rem;
    font-family: Georgia, sans-serif;
    font-size: 18px;
    color: #073642;
    background-color: #fdf6e3;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: 'orkneyregular';
    color: #586e75;
} 

h2 {
    font-family: 'orkneyregular';
    color: #839496;
}

h3 {
    font-family: 'orkneyregular';
    color: #93a1a1;
}

a {
    color: #268bd2;
}

a:hover, a:visited:hover {
    color: #dc322f;
}

a:visited {
    color: #b58900;
}