name: Publish Site Using Soupault

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Install soupault
        env:
          SOUPAULT_VERSION: 5.2.0
        run: |
          echo Downloading and unpacking soupault
          wget  https://github.com/PataphysicalSociety/soupault/releases/download/$SOUPAULT_VERSION/soupault-$SOUPAULT_VERSION-linux-x86_64.tar.gz
          tar xvf soupault-$SOUPAULT_VERSION-linux-x86_64.tar.gz
          sudo mv -v ./soupault-$SOUPAULT_VERSION-linux-x86_64/soupault /usr/bin/

      - name: Build the site
        run: |
          soupault

      - name: Setup Pages
        uses: actions/configure-pages@v5 # Use the latest version

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4 # Use the latest version
        with:
          path: "./build"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # Use the latest version
    # Your deployment steps here
